.env
AGENTS.md
*.csv
*.ts.html
coverage

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Build output
node_modules
dist
dist-ssr
*.local

# Database (ephemeral, recreated by seed)
data.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
augur/conversations.json
